# Turn Rewrite Engine on
RewriteEngine on

# Rewrite for vote.php
RewriteRule ^custom index.php [NC,L]


# NC makes the rule of non case sensitive
# L makes this the last rule that this specific condition will match

# Rewrite for profile.php?user=****
RewriteRule ^profile/([0-9a-zA-Z-]+) profile.php?user=$1 [NC,L]


Options -Indexes


#Gzip
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x- javascript application/javascript
</ifmodule>
#End Gzip


